.Message {
    display: flex;
    flex-direction: row;
    padding: 16px;
    color: white;
    margin: 8px 64px 8px 0;
    border-radius: 32px 32px 32px 5px;
    background: #E9EDF2;
    color: black;
}

.Message p {
    margin: 0;
}